body {
    overflow-x: hidden;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
 /* Light gray background */
    color: #333; /* Dark text color */
}

#headerUno {
    margin: 0;
    text-align: center;
    background-color: #fff;
    width: 100%;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.sticky {
    position: sticky;
    top: 0;

}

#webHeader {
    text-align: center;
    padding-block: 10px;

}

#containerCenter {
    text-align: center;
    padding-bottom: 25px;
}

.headerButton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    color: #D6D3D1;
    border: #D6D3D1;
    border-radius: 5px;
    background: #454B1B;
    display:inline-flex ;
}

h1{
    position: relative;
    top: 20px;
    
}

.aboutSec{
    background-color: #454B1B;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0;
    padding-bottom: 25px;
}

section {
    padding: 60px 20px;
    background-color: #fff; /* White section background */
}

h2 {
    color: #28282B;
}

p{
    text-align: center;
}

.image-container {
    max-width: 100%;
    background-color: #58427C ;
    padding: 25px;
    border-radius: 2%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Rounded corners for images */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Box shadow for images */
}

footer {
    width: 100%;
    text-align: center;
    background-color: #28282B; /* Blue footer background */
    color: #fff; /* White text color */
    position: relative;
    clear: both;
    margin-top: 20px; /* Adjusted margin for better spacing */
}

.resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #58427C; /* Dark button background */
    color: #fff; /* White text color */
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#skills-list {
    margin-top: 20px;
    background-color:#28282B; 
    padding: 15px;
    border-radius: 5px;
}

.skill-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #58427C;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.skill-item-text {
    flex-grow: 1;
}

.skill-item img {
    margin-left: 10px;
}

#certificate{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#certificate-image{
    width: 500px;
    height: 325px;
    border-radius: 5%;
    box-shadow: 0 0 5px #000000;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}