body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #28282B; /* Light gray background */
    color: #333; /* Dark text color */
    margin-top: 20% ; /* Adjusted margin to push content down below fixed header */
}

header {
    text-align: center;
    padding: 10px;
    background-color: #28282B; /* Blue header background */
    color: #fff; /* White text color */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#header-images {
    display: flex;
    justify-content: space-between;
}

section {
    padding: 60px 20px;
    background-color: #fff; /* White section background */
    margin-top: 60px; /* Adjusted margin for better separation */
    border-radius: 10px; /* Rounded corners for sections */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for sections */
}

h2 {
    color: #808080;
}

.image-container {
    text-align: center;
    background-color: #58427C ;
    padding: 25px;
    border-radius: 2%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Rounded corners for images */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Box shadow for images */
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #28282B; /* Blue footer background */
    color: #fff; /* White text color */
    position: relative;
    clear: both;
    margin-top: 20px; /* Adjusted margin for better spacing */
}

.resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #808080; /* Dark button background */
    color: #fff; /* White text color */
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#skills-list {
    margin-top: 20px;
    background-color:#808080; 
    padding: 15px;
    border-radius: 5px;
}

.skill-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #000000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.skill-item-text {
    flex-grow: 1;
}

.skill-item img {
    margin-left: 10px;
}

.projectGroup img{
    position: flex;
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.projectGroup4 img{
    position: fixed;
    width: 40%;
    padding-bottom: 15px;
    
}

#certificate-image{
    border-radius: 5%;
    box-shadow: 0 0 5px #000000;
    padding: 5px;
}
