body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #28282B; /* Light gray background */
    color: #333; /* Dark text color */
    margin-top: 20% ; /* Adjusted margin to push content down below fixed header */
}

header {
    text-align: center;
    background-color: #28282B; /* Blue header background */
    color: #fff; /* White text color */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#header-images {
    display: flex;
    justify-content: space-between;
}

section {
    padding: 60px 20px;
    background-color: #fff; /* White section background */
    margin-top: 60px; /* Adjusted margin for better separation */
    border-radius: 10px; /* Rounded corners for sections */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for sections */
}

h2 {
    color: #28282B;
}

p{
    text-align: center;
}

.image-container {
    max-width: 100%;
    background-color: #58427C ;
    padding: 25px;
    border-radius: 2%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Rounded corners for images */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Box shadow for images */
}

footer {
    width: 100%;
    text-align: center;
    background-color: #28282B; /* Blue footer background */
    color: #fff; /* White text color */
    position: relative;
    clear: both;
    margin-top: 20px; /* Adjusted margin for better spacing */
}

.resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #58427C; /* Dark button background */
    color: #fff; /* White text color */
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#skills-list {
    margin-top: 20px;
    background-color:#28282B; 
    padding: 15px;
    border-radius: 5px;
}

.skill-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #58427C;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.skill-item-text {
    flex-grow: 1;
}

.skill-item img {
    margin-left: 10px;
}

.projectGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 1em;
    align-items: center;
    object-fit: contain;
    
}

.projectGroup4 img{
    position: fixed;
    width: 40%;
    padding-bottom: 15px;
    
}

.projectIM{
    height: 250px;
    width: 500px;
    box-shadow: 0 0 5px 1px #000000;

}

#certificate{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#certificate-image{
    width: 500px;
    height: 300px;
    border-radius: 5%;
    box-shadow: 0 0 5px #000000;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.imgBREAK{
    text-align: center;
    margin-top: 25px;
    padding: 10px;
    padding-right: 50px;
    background-color: #28282B;
    color: white;
    border-radius: 15%;
}

.projectVert{
    height: 250px;
    width: 125;
}